/demoConditions/nbproject/private/
/demoConditions/build/
/demoConditions/dist/
/demoLoops/nbproject/private/
/demoLoops/dist/
/demoLoops/build/
/Base2/TryCatch/nbproject/private/
/Base2/TryCatch/dist/
/Base2/TryCatch/build/
/Base2/Validate/nbproject/private/
/Base2/Validate/dist/
/Base2/Validate/build/
/Base2/UtilityMethod/nbproject/private/
/Base2/Regex/nbproject/private/
/Base2/RegularExpression/nbproject/private/
